crash-reports
downloads
journeymap/data
journeymap/icon
journeymap/server
journeymap/journeymap.log
local
logs
saves
schematics
structurize
screenshots
chiselsandbits
.curseclient
minecraftinstance.json
options.txt
reauth.toml
rhino.local.properties
usercache.json
usernamecache.json
patchouli_data.json
config/jei/world
servers.dat
journeymap